<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h3>Items to do</h3>
            <form (ngSubmit)="onItemAdd()" #toDoItemForm="ngForm" >
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input type="text" id="todo" class="form-control" placeholder="Create new to-do item" 
                         ngModel name="newToDoItem" required [maxlength]="50">
                    </div>
                    <div class="col-sm-6 form-group">
                        <button class="btn btn-success" type="submit" [disabled]="!toDoItemForm.valid">Add item</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <span class="hover-cursor pull-right">
                    <div *ngIf="currentItemVisible; then currentVisible; else currentNotVisible"></div>
                    <ng-template #currentVisible>
                        <a class="btn" href="#" (click)="onCurrentItemVisible()">
                            <i class="fa fa-check-circle-o fa-2x"></i>
                        </a>
                    </ng-template>
                    <ng-template #currentNotVisible>
                        <a class="btn" href="#" (click)="onCurrentItemVisible()">
                            <i class="fa fa-circle-o fa-2x"></i>
                        </a>
                    </ng-template>
                    See active items
            
                    <div *ngIf="doneItemVisible; then doneVisible; else doneNotVisible"></div>
                    <ng-template #doneVisible>
                        <a class="btn" href="#" (click)="onDonetItemVisible()">
                            <i class="fa fa-check-circle-o fa-2x"></i>
                        </a>
                    </ng-template>
                    <ng-template #doneNotVisible>
                        <a class="btn" href="#" (click)="onDonetItemVisible()">
                            <i class="fa fa-circle-o fa-2x"></i>
                        </a>
                    </ng-template>See done items
                </span>
            </div>
            </div>

             {{itemsToDoLeft}}
        <ul class="list-group list-group-flush">
            <app-to-do-item *ngFor="let item of toDoMultipleItems;" [toDoItem]="item">
            </app-to-do-item>
        </ul>

        
    </div>
</div>

