<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h3>Items to do</h3>
            <form>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input type="text" id="todo" class="form-control" placeholder="Add new to-do item">
                    </div>
                    <div class="col-sm-6 form-group">
                        <button class="btn btn-success" type="submit">Add item</button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="list-group list-group-flush">
            <app-to-do-item></app-to-do-item>
        </ul>
    </div>
</div>